/*=============================================================
                    Theme Dermanord
 ============================================================ */

/* Fonts */
body {
}

body p, .dn_tags {
    font-family: futura-pt-light, sans-serif;
}

h1, .futura_pt_h {
    font-family: futura-pt-medium, sans-serif;
    font-size: 39px;
}

h2 {
    font-family: futura-pt-medium, sans-serif;
    font-size: 23px;
}

h3 {
    font-family: kepler-std-display, serif;
    font-style: italic;
    font-size: 30px;
}

h4 {
    font-family: futura-pt-medium, sans-serif;
    font-size: 18px;
}

h5 {
    font-family: futura-pt-medium, sans-serif;
    font-size: 14px;
}

h6 {
    font-family: kepler-std-display, serif;
    font-style: italic;
    font-size: 60px;
}

i, .kepler_std_i {
    font-family: kepler-std-display, serif;
    font-style: italic;
}

p {
    font-size: 18px;
    line-height: 1.2;
}

tbody h5 {
    font-family: futura-pt-light, sans-serif;
    font-size: 14px;
}

body li, body ul, body a {
    font-family: futura-pt-light, sans-serif;
    font-size: 18px;
}

body a {
    font-family: futura-pt-light, sans-serif;
    color: #000;
}

body a:hover {
    color: #BB602F;
}

em {
    color: #000;
}

button {
    font-family: futura-pt-medium, sans-serif;
}

/* menu */
#top_menu span, body td{
    font-family: futura-pt-medium, sans-serif !important;
}

#top_menu span {
    font-size: 14px;
}

/* footer */
.dn_footer_col h4 {
    font-family: futura-pt-heavy, sans-serif;
}

/* webshop */
#product_detail h1 {
    font-family: futura-pt-heavy, sans-serif;
}

.p_name a {
    font-family: futura-pt-heavy, sans-serif;
}

/* modal */
.modal-body label {
    font-family: futura-pt-light;
}

.media-heading {
    font-family: futura-pt-heavy, sans-serif;
    font-size: 18px;
}

.media-heading span {
    font-family: futura-pt-heavy, sans-serif !important;
    font-size: 18px;
}

#searchbox li:hover, #searchbox li[selected=selected] {
    background-color: #BB602F;
}

#searchbox li:hover > a, #searchbox li[selected=selected] > a {
    color: #fff;
}

#searchbox h4 {
    font-size: 23px;
}

ol.breadcrumb > li > a,
.futura_pt_m {
    font-family: futura-pt-medium, sans-serif;
}

h1, .dn_uppercase {
    text-transform: uppercase;
}

#search-btn-modal h5 {
    font-size: 14px;
}

.categ_block_text a {
    font-family: futura-pt-heavy, sans-serif !important;
    font-size: 23px;
}

/* override Bootstrap btn-primary */
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background-image: none;
    border-radius: 0px;
}

.btn:hover, .btn:active, .btn:focus {
    text-decoration: none;
}

.btn-primary, .dn_primary {
    color: #fff;
    background-color: #CB683F;
    border-color: #CB683F;
    font-style: normal;
    font-weight: 500;
    font-family: futura-pt-medium, sans-serif;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary[disabled] {
    background-color: #BB602F;
    border-color: #BB602F;
}

.text-primary {
    color: #BB602F;
}

.text-success {
    color: #000;
}

.text-success:hover {
    color: #000 !important;
}

ul.wizard li.text-primary {
    background: #fff !important;
}

ul.wizard li.text-primary .chevron::before {
    border-left: 10px solid #fff !important;
}

/* Dermanord Style */
.dn_btn {
    display: inline-block;
    padding: 12px 32px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background-image: none;
    border-radius: 0px;
}

.dn_btn:hover, .dn_btn:active, .dn_btn:focus {
    color: #fff;
    text-decoration: none;
}

.dn_primary:hover, .dn_primary:active, .dn_primary:focus {
    background-color: #BB602F;
    border-color: #BB602F;
}

@media (max-width: 991px) {
    .dn_footer_menu {
        -webkit-columns: auto 2; /* Chrome, Safari, Opera */
        -moz-columns: auto 2; /* Firefox */
        columns: auto 2;
        padding: 0px;
    }

    #header_middle_menu {
        padding: 0px !important;
    }
}

@media (min-width: 992px) {
    .dn_footer_row {
        display: flex;
    }

    .dn_footer_col > :last-child {
        position: absolute;
        bottom: 0px;
    }
}

.dn-social-button {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: white;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    float:left;
}

.dn-social-button > a {
    color: black;
}

#top_menu {
    width: 100%;
    margin: auto;
}

#top_menu a {
    white-space: nowrap;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: futura-pt-demi, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
}

.dn_cart_qty_sm {
    background-color: #CB683F !important;
    color: #fff;
    padding: 0px 6px !important;
    border-radius: 12px !important;
    position: absolute;
    margin-left: -30px;
    margin-top: -3px;
}

.breadcrumb {
    margin-bottom: 0px;
}

ol.breadcrumb > li{
    color: #555;
}

ol.breadcrumb > li > a {
    color: #555;
    border-bottom: 3px solid #555;
}

ol.breadcrumb > li + li::before {
    padding: 0 5px;
    color: #ccc;
    content: ">";
}

/*
@font-face {
  font-family: 'Futura-Medium';
  src: url('/theme_dermanord/static/src/fonts/Futura-Medium/Futura-Medium.eot?#iefix') format('embedded-opentype'),  url('/theme_dermanord/static/src/fonts/Futura-Medium/Futura-Medium.woff') format('woff'), url('/theme_dermanord/static/src/fonts/Futura-Medium/Futura-Medium.ttf')  format('truetype'), url('/theme_dermanord/static/src/fonts/Futura-Medium/Futura-Medium.svg#Futura-Medium') format('svg');
  src: url('/theme_dermanord/static/src/fonts/Futura-Medium/Futura-Medium.eot?#iefix') format('embedded-opentype'), url('/theme_dermanord/static/src/fonts/Futura-Medium/Futura-Medium.svg#Futura-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaSH-DemiBold';
  src: url('/theme_dermanord/static/src/fonts/FuturaSH-DemiBold/FuturaSH-DemiBold.eot?#iefix') format('embedded-opentype'),  url('/theme_dermanord/static/src/fonts/FuturaSH-DemiBold/FuturaSH-DemiBold.otf')  format('opentype'),
         url('/theme_dermanord/static/src/fonts/FuturaSH-DemiBold/FuturaSH-DemiBold.woff') format('woff'), url('/theme_dermanord/static/src/fonts/FuturaSH-DemiBold/FuturaSH-DemiBold.ttf')  format('truetype'), url('/theme_dermanord/static/src/fonts/FuturaSH-DemiBold/FuturaSH-DemiBold.svg#FuturaSH-DemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/

#menu-btn {
    float: left !important;
    margin-left: 15px !important;
    border: none !important;
}

#menu-btn .icon-bar {
    background-color: #000 !important;
}

#menu_div, #search_div, #logo_div, #my_page_div, #shop_cart_div {
    display: flex;
    justify-content: center;
    align-content: center;
}

#search_div, #my_page_div, #shop_cart_div {
    margin-top: 10px;
}

#header_middle_menu a {
    font-size: 14px;
}

#search-btn {
    float: right !important;
    padding: 9px 10px;
}

#search_input {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 999;
}

#wrapwrap > header > .navbar-static-top {
    background: #fff;
}

#wrapwrap > header > .navbar-static-top > .container > .navbar-top-collapse {
}

#header_bg {
    position: relative;
    width: 100%;
}

#header_menu {
    margin-top: 50px;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
}

#header_left_menu {
    padding-top: 10px;
}

#header_middle_menu {
    padding: 20px 0px 10px 0px;
}

#header_right_menu {
    padding-top: 10px;
}

#header_line {
    position: absolute;
    bottom: 40px;
    left: 0px;
    width: 100%;
    border-bottom: 1px solid;
}

footer {
    background-color: #000 !important;
    color: #fff;
}

footer li {
    list-style-type: none;
}

footer a, footer span {
    color: #fff;
    font-family: futura-pt-medium, sans-serif;
    font-style: normal;
    font-weight: 500;
}

footer input, footer .input-group-addon {
    background-color: #000 !important;
    color: #fff;
}

#top_menu_top .header_menu {
    display: none;
}

#top_menu > li{
    display: inline;
}

#top_menu > li:active, #top_menu > li:hover, #top_menu > li:focus{
    display: inline;
}

#top_menu > li > a {
    color: #000;
}

#top_menu > li > a:active, #top_menu > li > a:hover, #top_menu > li.active > a {
    background-color: #000;
    color: #fff;
}

#more_dropdown li.dropdown ul.dropdown-menu {
    top: 0px;
}

#more_dropdown li.dropdown ul.dropdown-menu {
    top: 0px;
}

#more_dropdown li.dropdown:hover .dropdown-menu {
    display: block;
}

/* submenus */
.dn_header {
    background-color: #000;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0px;
    max-height: 450px;
}

.dn_header_banner {
    padding: 0px;
    margin: auto;
    display: block;
    max-width: 1366px;
}

.dn_header_nav {
    position: relative;
    background-color: #000;
}

.dn_header_nav ul {
    list-style-type: none;
    position: absolute;
    top: 5%;
    left: 5%;
    padding-right: 5%;
}

.dn_header_nav_tab {
    background-color: #000;
    color: #fff;
    border-radius: 0px !important;
}

.dn_header_nav_tab span {
    font-size: 15px !important;
}

.dn_header_nav > .nav-pills > li.active > a {
    background-color: #fff !important;
    color: #000 !important;
}

.dn_header_nav_tab:active, .dn_header_nav_tab:focus, .dn_header_nav_tab:hover {
    background-color: #fff;
    color: #000;
    border-radius: 0px !important;
}

.dn_header_container {
    margin: auto;
    width: 100%;
    position: relative;
}

.dn_header_container img {
    width: 100%;
    height: 100%
}

.page_title {
    position: absolute;
    top: 40%;
    right: 45%;
    padding: 32px;
    background: rgba(0,0,0,0.4);
    color: #fff;
}

.oe_dermexp_content {
    position: absolute;
    top: 45%;
    right: 10%;
    padding: 32px;
    background: rgba(0,0,0,0.4);
    color: #fff;
}

.dn_page_header_img {
    width: 100%;
    position: relative;
}

.dn_page_header_content {
    top: 45%;
    right: 10%;
    position: absolute;
    padding: 15px;
}

.navbar.navbar-default.navbar-static-top > .container > .navbar-header {
    width: 100%;
}

#left_column {
    background-color: #000;
    padding: 15px;
}

#left_column a {
    color: #fff;
}

#left_column li:active a, #left_column li:hover a, #left_column li:focus a, #left_column li.active > a {
    border-radius: 0px !important;
    background-color: #fff;
    color: #000;
}

@media (max-width: 767px) {
    #top_menu {
        background-color: #000;
    }

    #top_menu > li > a {
        color: #fff !important;
    }

    #top_menu > li > a:active, #top_menu > li > a:hover, #top_menu > li > a:focus  {
        color: #000 !important;
        background-color: #fff;
    }

    #top_menu a:hover span {
        color: #000;
    }

    #top_menu span {
        color: #fff;
    }

    #wrapwrap {
        margin-top: 50px !important;
    }

    .navbar.navbar-default.navbar-static-top > .container {
        padding: 0px;
    }

    .navbar.navbar-default.navbar-static-top > .container > .navbar-header {
        background-color: #fff;
        width: 100%;
        margin: 0px;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 200;
        border-bottom: 1px solid #e7e7e7;
    }
}
