/* Fonts & buttons*/

:root {
    --fs: 16;
    --o-color-1: #ffffff;
    --o-color-2: #e0e0e0;
    --o-color-3: #7f9b9d;
    --o-color-4: #596f70;
    --o-color-5: #000000;
}

h3 {
    font-family: "kepler-std-display";
    }

/* h6 {
    font-family: "kepler-std-display";
    } */

p {
    margin-bottom: calc(calc(10/var(--fs))*1rem);
}

a:hover {
    text-decoration: none;
    color: var(--o-color-3);
}

.fa-facebook, .fa-twitter, .fa-linkedin, .fa-instagram {
    font-size: 2.2rem;
    color: black;
}

.btn {
    padding: calc(calc(6/var(--fs))*1.5rem) calc(calc(12/var(--fs))*1rem);
    font-size: calc(calc(14/var(--fs))*1rem);
    font-weight: 500;
    border-radius: 0.5em;
}

.btn-primary {
    background-color: var(--o-color-3);
    border-color: var(--o-color-3);
    color: #ffffff;
    font-family: futura-pt-medium;
}


.btn-primary:hover {
    color: #ffffff;
    background-color: #788A87;
    border-color: #788A87;
}

.btn-xs {
    padding: calc(calc(1/var(--fs))*1rem) calc(calc(5/var(--fs))*1rem);
    font-size: calc(calc(12/var(--fs))*1rem);
    line-height: 1.5;
}

.btn-sm {
    padding: calc(calc(5/var(--fs))*1rem) calc(calc(10/var(--fs))*1rem);
    font-size: calc(calc(12/var(--fs))*1rem);
    line-height: 1.5;
}

.btn-lg {
    padding: calc(calc(10/var(--fs))*1rem) calc(calc(16/var(--fs))*1rem);
    font-size: 1rem;
    line-height: 1.33;
    font-weight: bold;
}


.btn-success {
    border-color: #000000;
    color: #ffffff;
    font-family: futura-pt-medium;
}
/*
.btn-success:hover {
    background-color: #000000;
}
*/
.btn-warning {
    border-color: #eea236;
    color: #ffffff;
}

.btn-warning:hover {
/*    background-color: #ec971f;*/
    border-color: #ec971f;
    color: #ffffff;
}

.btn-info {
    color: #fff;
    border-color: #46b8da;
}

.btn-info:hover {
/*    background-color: #31b0d5;*/
    border-color: #269abc;
}

.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn-danger {
    color: #ffffff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn-danger:hover {
    background-color: #c9302c;
    border-color: #ac2925;
}

.text-primary {
    color: var(--o-color-3) !important;
}

.text-success {
    color: #000 !important;
}

.text-info {
    color: var(--o-color-3);
}

.text-warning {
    color: #ec971f;
}

.bg-danger {
    background-color: #f2dede !important;
    color: #000000;
}

/* Header */

#top_menu {
    width: 100%;
    font-size: 0.95rem !important;
}

#oe_structure_header_default_1 {
    display:none;
}

#top_menu a {
    font-family: futura-pt-medium;
    text-transform: uppercase;
}

#top_menu a:hover {
    background-color: #000000;
}

.o_cc .dropdown-menu .dropdown-item:hover {
    color: #ffffff !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #000000 !important;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #ffffff !important;
}

.fa-shopping-cart {
    font-size: 1.20rem !important;
}

.fa-heart {
    font-size: 1.20rem !important;
}

/* Card Styles */
ul.shop-variant {
    display: flex;
}

.card-body {
    flex: 0 0 auto;
}

.list-inline {
    white-space: nowrap;
}

.oe_product_cart div.oe_product_image {
    height: 185px;
}

#o-variant-product {
    height: 185px;
}

.oe_product {
    height: 325px;
}

.card.oe_product_cart {
    height: 305px;
}

.oe_product_cart .o_wsale_product_information {
    flex: 1 0 auto !important;
}

.o_wsale_products_item_title {
    margin-top: 5px;
    margin-bottom: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

div.radio_input_value {
    white-space: nowrap;
}

.bottom {
    position: absolute;
    bottom: 0; 
}

/* Pagenation Styles */
.form-control::placeholder {
    color: var(--o-color-4);
    opacity: 1;
    font-weight: 900;
}

.pagination.m-0.mt-2.ml-md-2 {
    font-weight: 900;
    margin: 1rem auto 1rem 0 !important;
}

.o_wsale_products_searchbar_form.w-md-auto.mt-2 {
    margin: 1rem 0 1rem 1rem !important;
}

.dropdown.mt-2.ml-md-2 {
    margin: 1rem 0 1rem 0.5rem !important;
}

.page-item.active .page-link {
    color: var(--o-color-1);
    background-color: var(--o-color-3);
    border-color: var(--o-color-3);
}
.page-item.active .page-link:hover {
    background-color: #788A87;
}

.dropdown-toggle::after {
    vertical-align: 0.155em;
}

.dropup .dropdown-toggle::after {
    vertical-align: -0.045em;
}

.p-2 {
    padding: 0 0.5rem 0 0.5rem !important;
}

/* Category Styles */

.nav-link.o_not_editable {
    text-transform: uppercase;
    font-weight: 700;
    font-family: "futura-pt-medium", "Odoo Unicode Support Noto", serif;
}

#o_shop_collapse_category li i.fa {
    color: var(--o-color-5) !important;
}

li.nav-item i ~ a.nav-link {
    font-family: "futura-pt-medium", "Odoo Unicode Support Noto", serif;
}

/* DIRTY FIX */

.list-inline-item:not(:last-child) {
    margin: 0.25rem 0.5rem auto 0;
}

.js_add_cart_variants {
    margin-bottom: 0px !important;
}

.product_price.mt16 {
    margin-top: 0 !important;
}

.variant_attribute {
    padding-top: 0 !important;
    padding-bottom: 3px !important;
}

.oe_price_h4, .oe_price {
    font-family: "futura-pt-light", "Odoo Unicode Support Noto", serif;
    font-size: 1.05rem;
    color: var(--dark);
    font-weight: 400 !important;
}

.badge-primary {
    color: var(--o-cc1-bg);
    background-color: var(--o-cc1-btn-secondary);
}

.o_wsale_products_main_row {
    flex-wrap: nowrap;
}

.product_grid_wrapper {
    width: 100%;
}

#products_grid_before {
    padding-top: 1rem;
}

div.products_pager {
    justify-content: left !important;
}

.mt-2 {
    margin-top: 0 !important;
}

/* THESE STYLES ARE FOR WHEN WE HAVE ADDED THE SEARCH AND PAIGNATION WRAPPER INSIDE THE PRODUCTS GRID DIV AND KEPT THE EXISITING ONE WHERE IT IS NOW. */

/* HIDE EXSISITING PAGNATION AND SEARCH WRAPPER WHEN DISPLAYING LARGER SIZES */
/* #1- Large desktop */
@media (min-width: 769px) {
    div.small {
        display: none;
    }
    /* div.o_wsale_apply_layout {
        margin: 0.5rem 0 0.5rem 0.5rem;
    }
    */
 }

/* HIDE ADDED PAGNATION AND SEARCH WRAPPER WHEN DISPLAYING ON SMALLER SIZES */
/* #3- Landscape phone to portrait tablet */
@media (max-width: 768px) {
    #products_grid_before {
    	padding-bottom:0.5rem;
    }
    .pagination.m-0.mt-2.ml-md-2 {
        margin: 0 0.5rem 0.5rem 0 !important;
        order: 0
    }

    div.o_wsale_apply_layout {
        margin: 0.5rem 0.5rem 0.5rem 0 !important;
    }

    .search-duplicate {
        margin-bottom: 8px !important;
        margin-left: 10px !important;
        order: 2;
    }
    .dropdown.mt-2.ml-md-2 {
        margin: 1rem 0 1rem 0.5rem !important;
        order: 1;
    }

    .o_wsale_products_searchbar_form.w-md-auto.mt-2 {
        margin: 0 !important;
    }

    .products_pager .search-duplicate {
        width: 40%;
    }

    .o_wsale_products_main_row {
        flex-wrap: wrap;
    }

    div.o_wsale_apply_layout {
        margin: 0.5rem 0 0.5rem 0.5rem;
    }

    .btn.btn-link.d-lg-none {
        color: var(--o-color-1);
        text-decoration: none;
        background: var(--o-color-3);
    }

    .btn.btn-link.d-lg-none:hover {
        background: var(--o-color-4);
    }
 }
