/* Fonts & buttons*/

:root {
    --fs: 16;
    
}

h3 {
    font-family: "kepler-std-display";
    }

h6 {
    font-family: "kepler-std-display";
    }

p {
    margin-bottom: calc(calc(10/var(--fs))*1rem);
}

a:hover {
    text-decoration: none;
    color: #7f9b9d;
}


.btn {
    padding: calc(calc(6/var(--fs))*1rem) calc(calc(12/var(--fs))*1rem);
    font-size: calc(calc(14/var(--fs))*1rem);
    font-weight: 500;
    border-radius: 0px;
    border: 1px solid #cccccc;
}

.btn-primary {
    background-color: #7f9b9d;
    border-color: #7f9b9d;
    color: #ffffff;
    font-family: futura-pt-medium;
}


.btn-primary:hover {
    color: #ffffff;
    background-color: #788A87;
    border-color: #788A87;
}

.btn-xs {
    padding: calc(calc(1/var(--fs))*1rem) calc(calc(5/var(--fs))*1rem);
    font-size: calc(calc(12/var(--fs))*1rem);
    line-height: 1.5;
}

.btn-sm {
    padding: calc(calc(5/var(--fs))*1rem) calc(calc(10/var(--fs))*1rem);
    font-size: calc(calc(12/var(--fs))*1rem);
    line-height: 1.5;
}

.btn-lg {
    padding: calc(calc(10/var(--fs))*1rem) calc(calc(16/var(--fs))*1rem);
    font-size: 1rem;
    line-height: 1.33;
    font-weight: bold;
}


.btn-success {
    border-color: #000000;
    color: #ffffff;
    font-family: futura-pt-medium;
}
/*
.btn-success:hover {
    background-color: #000000;
}
*/
.btn-warning {
    border-color: #eea236;
    color: #ffffff;
}

.btn-warning:hover {
/*    background-color: #ec971f;*/
    border-color: #ec971f;
    color: #ffffff;
}

.btn-info {
    color: #fff;
    border-color: #46b8da;
}

.btn-info:hover {
/*    background-color: #31b0d5;*/
    border-color: #269abc;
}

.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn-danger {
    color: #ffffff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn-danger:hover {
    background-color: #c9302c;
    border-color: #ac2925;
}

.text-primary {
    color: #7f9b9d !important;
}

.text-success {
    color: #000 !important;
}

.text-info {
    color: #7f9b9d;
}

.text-warning {
    color: #ec971f;
}

.bg-danger {
    background-color: #f2dede !important;
    color: #000000;
}

/* Header */

#top_menu {
    width: 100%;
    font-size: 0.95rem !important;
}

#oe_structure_header_default_1 {
    display:none;
}

#top_menu a {
    font-family: futura-pt-medium;
    text-transform: uppercase;
}

#top_menu a:hover {
    background-color: #000000;
}

.o_cc .dropdown-menu .dropdown-item:hover {
    color: #ffffff !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #000000 !important;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #ffffff !important;
}

.fa-shopping-cart {
    font-size: 1.20rem !important;
}

.fa-heart {
    font-size: 1.20rem !important;
}
