/*! Banner Block */
.banner_block_section {
    background-color: #000;
}

.banner_block_section h1 {
    color: #fff;
}

.banner_block_section .banner_block{
    padding: 10px 10px 0px 10px;
}

.banner_block_section .banner_block_img{
}

.banner_block_section .banner_block_text{
    margin: 0px;
}
