/*! Banner Block */
.categ_p_section {
    background-color: #000;
}

.categ_p_section h1 {
    color: #fff;
}

.categ_p_section .categ_block{
    padding: 10px 10px 0px 10px;
}

.categ_p_section .categ_block_img{
}

.categ_p_section .categ_block_text{
    margin: 0px;
}

@media screen and (max-width: 768px) {
}
