.carousel-control {
    background: none !important;
}

a {
    text-decoration: none !important;
}

/*! Category Block */
.categ_p_section {
    background-color: #000;
}

.categ_p_section .categ_block{
    padding: 12px;
}

.categ_block .container {
    position: absolute;
    top: 42%;
    left: 10%;
}

.categ_block h3 {
    margin: 0px;
    color: #000;
}

.categ_p_section .categ_block_img{
    width: 100%;
    position: relative;
    border: 3px solid #000;
}

.categ_p_section .categ_block_img:hover{
    border: 3px solid #CB683F;
}

.categ_block_img .container {
    position: absolute;
    top: 42%;
    left: 10%;
}

.categ_p_section .categ_block_text{
    margin: 0px;
}

.categ_block_text a {
    color: #000 !important;
}

.categ_block_text a:hover {
    color: #BB602F !important;
}

/* Blog Banner */
.blog_banner_img {
    position: relative;
    width:100% !important;
    height: auto !important;
}

.blog_banner_content .container {
    position: absolute;
    top: 10%;
    left: 0%;
}

/*! Blog Slide */
.blog_slide a {
    color: #000 !important;
}

.blog_slide .carousel {
    overflow: hidden;
    padding: 20px 20px 80px 20px;
}

/*! Product Highlights */

.product_div .col-md-3.col-xs-12 {
    padding: 15px;
}

.ph_block {
    width: 260px;
    height: 500px;
    border: 3px solid #fff;
    margin: auto;
}

.ph_block:hover {
    border: 3px solid #CB683F;
}

.ph_block a {
    color: #000;
}

.ph_block > .container > .text-muted > a {
    color: #777 !important;
}

.ph_img {
    position: relative;
    margin: auto;
    height: auto;
}

.desc_div {
    position: absolute;
    padding: 10px 25px !important;
    bottom: 0px;
    width: 100% !important;
    max-width: 258px;
    text-overflow: ellipsis;
}

.desc_div > .dn_uppercase > a, .desc_div > .dn_uppercase > span {
    font-family: futura-pt-heavy, sans-serif !important;
    font-size: 18px;
}

.ph_desc {
    font-family: futura-pt-light, sans-serif !important;
    font-size: 18px !important;
}

.ph_block h4 {
    height: 3em;
    padding: 0px;
    line-height: 1.5em;
    overflow: hidden;
    position: relative;
/*
    white-space: nowrap;
*/
    color: #000;
    margin: 0px;
}

.ph_block h4::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10%;
    height: 1.1em;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 50%);
}

.ph_block h5 {
    margin-top: 0px;
}

.ph_block .ph_desc {
    height: 9.9em;
    margin-bottom: 30px;
    line-height: 1.1em;
    overflow: hidden;
    position: relative;
}

.ph_block .ph_desc::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10%;
    height: 1.25em;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 50%);
}

.double_image {
    max-height: 450px !important;
}

.double_image .item {
    background-color: #000
}

.di_desktop_img, .di_mobile_img {
    max-height: 450px !important;
    position: absolut;
    margin: auto;
/*
    padding-top: 32.94%;
*/
}

.di_desktop_content {
    max-width: 1400px !important;
    margin: auto;
    position: absolute;
    top: 30%;
    left: 0%;
    right: 0px;
}

.image_text_narrow {
    padding-left: 40px !important;
}

@media screen and (max-width: 1195px) and (min-width: 992px) {
    .ph_block {
        width: 240px;
    }
    .image_text_narrow {
        padding-left: 0px 15px !important;
    }
    .image_text_narrow img {
        float: unset !important;
        margin: auto;
    }
    .image_text_large img {
        float: unset !important;
        margin: auto;
    }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
    .ph_block {
        width: 100%;
        height: 600px;
        border: 3px solid #fafafa;
    }
    .image_text_narrow {
        padding-left: 15px !important;
    }
    .image_text_narrow img {
        float: unset !important;
        margin: auto;
    }
    .image_text_large img {
        float: unset !important;
        margin: auto;
    }
}

@media screen and (max-width: 767px) {
.ph_block {
    width: 95%; 
    height: 600px;
    border: 3px solid #fafafa;
    margin: auto;
}
    .image_text_narrow {
        padding-left: 15px !important;
    }
    .image_text_narrow img {
        float: unset !important;
        margin: auto;
    }
    .image_text_large img {
        float: unset !important;
        margin: auto;
    }
    .di_desktop_content {
        top: 0%;
    }
}

@media screen and (min-width: 1200px)  {
    .ph_block {
        width: 100%;
        height: 525px;
        border: 3px solid #fcfcfc;
        margin: auto;
    }

}
