.oe_dermexp_body {
    background: #000;
    color: #fff;
}

.oe_dermexp_body > .dropdown > a {
    background: #000;
    color: #fff;
}

.oe_dermexp_body > .dropdown > .dropdown-menu > li > a {
    background: #000;
    color: #fff;
}

.oe_dermexp_body > .dropdown > .dropdown-menu {
    background: #000;
    color: #fff;
}

.oe_dermexp_div {
    position: relative;
    width: 100%;
    padding: 0px;
}

.oe_dermexp_content {
    top: 45%;
    right: 10%;
    position: absolute;
    padding: 15px;
}

/* blogs */
.customer_moods_list_img {
    width: 150px;
    height: 150px;
/*
    padding-top:100%;
*/
    margin: auto;
}

.pure_cell_treatment_stories_list_block {
    position: relative;
    padding-top: 64px;
    align-content: center;
    display: flex;
    justify-content: center;
}

#pure_cell_treatment_stories_slide {
    padding: 0px 30px;
}

.pure_cell_treatment_stories_list_img_block {
    position: absolute;
    top: -20%;
}

.pure_cell_treatment_stories_list_img {
    max-width: 100px;
    max-height: 100px;
    margin: auto;
    border-radius: 50%;
}
