/*=============================================================
                    Webshop Dermanord
 ============================================================ */

.no_padding_div {
    padding: 0px !important;
}

.no_padding_div .tab-pane {
    padding-left: 15px;
}


.nav-stacked a {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}
