/*=============================================================
                    Webshop Dermanord
 ============================================================ */
body {}

.dn_viewtype_active, .dn_view_type_inactive {
    display: inline-block;
    padding: 9px 15px;
}

.dn_viewtype_active {
    background-color: #839794;
    color: #fff;
}

div.shipping-address, div.invoicing-address {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.dn_blink {
    animation: glowing 1500ms infinite;
}

.dn_default {
    color: #000;
    background-color: #fff;
    border-color: #ddd;
}

#dn_filter_modal .checkbox {
    margin-bottom: 15px;
}

.no_padding_div {
    padding: 0px !important;
}

.no_padding_div .tab-pane {
    padding-left: 15px;
}

.nav-stacked a {
    padding: 10px 16px !important;
    font-size: 18px !important;
    line-height: 1.33 !important;
    border-radius: 0px !important;
}

.blog_block {
    padding: 15px;
}

#image_big {
    max-height: 500px;
    max-width: 500px;
    margin: auto;
}

#image_big > div {
    position: relative;
}

#image_big img {
    border: 1px solid #eee;
    margin: 0px 23px 0px 15px;
}

#image_big > div > .ribbon-wrapper {
    position: relative;
    display: block;
    width: 85px;
    height: 88px;
    z-index: 5;
    overflow: hidden;
    position: absolute;
    top: 0px;
    right: 0px;
}

#image_big > div > .ribbon-wrapper > .ribbon_news {
    font: bold 12px Sans-Serif;
    color: white;
    text-align: center;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -5px;
    top: 13px;
    width: 120px;
    cursor: default;
}

#image_big > div > .ribbon-wrapper > .ribbon_limited {
    font: bold 12px Sans-Serif;
    color: white;
    text-align: center;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    position: relative;
    padding: 1px 0;
    left: -5px;
    top: 13px;
    width: 120px;
    cursor: default;
}

#image_big .ribbon_offer {
    font: bold 12px Sans-Serif;
    color: white;
    text-align: center;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    position: relative;
    padding: 7px 0;
    left: -28px;
    top: 15px;
    width: 120px;
    cursor: default;
    font-size: 0.9em;
}

#image_big > div > .offer-wrapper {
    width: 85px;
    height: 88px;
    z-index: 5;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
}

#image_big > div > .offer-wrapper i {
    padding-left: 30px;
}

.image_block {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-top: 75%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.image_block_wide {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.image_block_text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    text-decoration: none !important;
    display: none;
}

.image_block_text h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 30px;
    line-height: 125%;
}

.image_block h3, .image_block h4, .image_block_wide h3, .image_block_wide h4{
    color: #fff;
}

.image_block:hover .image_block_text, .image_block_wide:hover .image_block_text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dn_product_div {
    padding: 20px;
}

.product_name {
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dn_product_image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.dn_product_image_ribbon {
    position: absolute;
    top: 0px;
    right: 0px;
    max-height: 30px;
}

.dn_product_image img {
    margin: auto;
    max-height: 350px;
}

.dn_product_image_div {
    min-height: 235px;
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #eee;
}

.dn_product_image_hover_btn {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dn_product_image_hover_btn p {
    display: none;
}

.dn_product_image_hover_btn:hover > p {
    display: unset;
}

.dn_product_info {
    text-overflow: ellipsis;
}

.dn_product_info a {
    color: #000;
}

.dn_product_info .p_name {
    height: 2.4em;
    overflow: hidden;
    position: relative;
    margin: 30px 0px 0px 0px;
}

.dn_product_info .p_name::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10%;
    height: 1.2em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

.dn_product_info .p_desc {
    height: 4em;
    overflow: hidden;
    position: relative;
    margin: 20px 0px 0px 0px;
    line-height: 1em;
}

.dn_product_info .p_desc::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10%;
    height: 1em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

.facet_div {
    padding: 0px !important;
    overflow: hidden;
    position: relative;
    margin: 0px -15px;
/*
    height: 124px;
*/
}

.facet_div a, .facet_div span {
    font-family: futura-pt-light, sans-serif;
    font-size: 18px;
    color: #bbb;
}

.category_title.dn_uppercase, .facet_div h2 {
    font-size: 1.3em;
}

.facet_div ::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10%;
    height: 2em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

.facet_container p {
    font-style: normal;
    font-weight: 500;
}

#image_nav, #ingredients_div {
    max-width: 530px;
    margin: auto;
}

.ingredients_description {
    max-width: 500px;
}

#image_nav > li > a > img {
    border: 1px solid #ddd;
    margin: auto;
}

#image_nav > li.active > a, #image_nav > li.active > a:hover, #image_nav > li.active > a:focus {
    background-color: #fff !important;
}

/* fts search */

.fts_result .dn_tags {
    padding: 3px 5px;
    margin-right: 5px;
}

.fts_result .dn_facets {
    padding: 3px 5px;
    margin-right: 5px;
    border: 1px solid #3FA2CC;
}

.dn_highlight {
    background-color: #ff2;
}

/* product listing */
.product_list_table td {
    padding: 0px 5px;
}

.product_shop {
    display: inline-flex;
    margin-top: 8px;
}

.img_payment {
    width: 64px !important;
    height: 64px !important;
}

#dn_filter_modal .modal-body .container {
    padding: 0px;
}

#dn_filter_modal .modal-body .container .col-xs-5, #dn_filter_modal .modal-body .container .col-xs-7 {
    padding-left: 0px;
}

#dn_filter_modal .modal-content {
    padding: 15px;
}

#filter_btn_group {
    padding: 0px 20px 20px 20px;
}

#dn_sort_modal ul{
    list-style-type: none;
}

#bottom_div {
    width: 100%;
    position: fixed;
    z-index: 99;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 1);
    color: #fff;
    padding: 5px 20px;
}

span[data-oe-expression="ingredient.image"] > img {
    max-width: 500px;
    width: 100%;
    margin: auto;
}

#ingredient_div img {
    max-width: 500px;
    width: 100%;
    margin: auto;
    display: block;
}

#ingredient > h5 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: -10px;
}

#ingredient > .checkbox {
    margin-top: -10px;
}

#ingredient > .checkbox > h4 {
    margin-top: 0px;
}

.filter_match, .sort_match, .dn_cart_qty {
/*
See also .dn_cart_qty_sm in theme_dermanord.
*/
    color: #fff;
    padding: 0px 6px !important;
    border-radius: 12px !important;
}

/* category panel */
.panel-default {
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.panel-body {
    border-top-color: transparent !important;
    padding: 5px 15px;
}

.like_icon {
    margin-top: 4px;
    color: #2f2;
}

.unlike_icon {
    margin-top: 4px;
    color: #f22;
}

.dn_selection_dropdown {
    height: 40px;
    font-size: 1.3em;
    border: 1px solid #ddd;
    border-radius: 0px !important;
    font-family: futura-pt-medium, sans-serif;
    font-weight: 400;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    position: static;
}

select.dn_selection_dropdown + i.fa {
    float: right;
    margin-top: -25px;
    margin-right: 10px;
    pointer-events: none;
    color: #000;
    position: absolute;
    right: 0px;
}

.stock_status h3 {
    font-family: futura-pt-medium, sans-serif !important;
    font-size: 26px !important;
}

.stock_status span {
    font-family: futura-pt-light, sans-serif;
    font-size: 18px !important;
}

/* category panel */

#desktop_product_navigator .dn-tooltip, #filter_btn_group .dn-tooltip {
    top: 17px;
    left: 17px;
}

#desktop_product_navigator .dn-tooltip > i, #filter_btn_group .dn-tooltip > i {
    font-size: 1.5em;
}

.category_heading_children, .category_children_panel {
    padding: 0px 15px;
}

#desktop_product_navigator h4, .category_parents_style {
    font-family: futura-pt-medium, sans-serif !important;
    font-size: 18px !important;
}

.category_parents_style {
    text-transform: uppercase;
}

#desktop_product_navigator .panel-body a, #desktop_product_navigator .panel-body label {
    font-family: futura-pt-light, sans-serif !important;
    font-size: 14px !important;
}

#desktop_product_navigator .panel-body .checkbox {
    margin-top: 0px;
    margin-bottom: 0px;
}

.dn_oe_product {
    padding: 0px;
}

#desktop_product_grid .dn_css_options {
    display: none;
    position: absolute;
    top: -6px;
    left: 50%;
    z-index: 10;
}

#desktop_product_grid .dn_css_options .dropdown {
    position: relative;
    left: -50%;
}

.webshop_dermanord_descktop_sort_selector {
    width: 50%;
}

.cke_editable #desktop_product_grid .dn_oe_product:hover > .dn_css_options {
    display: block;
}

/* Ribbon for promotionso on products (dn shop) */
.dn_product_div.oe_ribbon_promo .ribbon-wrapper, .dn_product_div.oe_ribbon_limited .ribbon-wrapper {
    display: block;
}
.dn_product_div .ribbon-wrapper {
    display: none;
    width: 85px;
    height: 88px;
    z-index: 5;
    overflow: hidden;
    position: absolute;
    top: 20px;
    right: 20px;
}

.dn_product_div .ribbon_news {
    font: bold 12px Sans-Serif;
    color: white;
    text-align: center;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -5px;
    top: 13px;
    width: 120px;
    cursor: default;
}

.dn_product_div .ribbon_limited {
    font: bold 12px Sans-Serif;
    color: white;
    text-align: center;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    position: relative;
    padding: 1px 0;
    left: -5px;
    top: 13px;
    width: 120px;
    cursor: default;
}

.dn_product_div .ribbon_offer {
    font: bold 12px Sans-Serif;
    color: white;
    text-align: center;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    position: relative;
    padding: 7px 0;
    left: -28px;
    top: 15px;
    width: 120px;
    cursor: default;
    font-size: 0.9em;
}

.dn_product_div .offer-wrapper {
    width: 85px;
    height: 88px;
    z-index: 5;
    overflow: hidden;
    position: absolute;
    top: 20px;
    left: 20px;
}

.dn_product_div .offer-wrapper i {
    padding-left: 30px;
}

#client_order_ref, #order_comment {
    padding: 0px 15px;
}

address.mb0 {
    padding: 0px 15px 15px 15px;
}

/*
.dn_product_div.oe_offer_ribbon_promo .offer-ribbon-wrapper {
   display: block;
}
.dn_product_div .offer-ribbon-wrapper {
    display: none;
    width: 130px;
    height: 132px;
    z-index: 5;
    overflow: hidden;
    position: absolute;
    top: 20px;
    right: 20px;
}

.dn_product_div .offer_ribbon {
    font: bold 15px Sans-Serif;
    color: white;
    text-align: center;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -15px;
    top: 35px;
    width: 185px;
    cursor: default;
}
*/

/* Ribbon for promotionso on products (dn list) */
tr.tr_lst td {
    padding: 8px 4px !important;
}

.td_lst {
    width: 100px;
}

.td_lst .lst-ribbon-wrapper {
    display: block;
    padding-left: 5px;
    z-index: 5;
    overflow: hidden;
    position: relative;
}

/* Override original css when max-width equals 500px */
@media (max-width: 500px) {
    .oe_cart table thead, #modal_optional_products table thead {
        display: unset;
    }
    .oe_cart table td:first-child, #modal_optional_products table td:first-child {
        display: unset;
    }
    .oe_cart table td:last-child, #modal_optional_products table td:last-child {
        margin-bottom: 0px;
    }
    .oe_cart table td:last-child, .oe_cart table td:nth-last-child(2), #modal_optional_products table td:last-child, #modal_optional_products table td:nth-last-child(2) {
        width: 50% !important;
        height: unset;
        text-align: left;
    }
    .oe_cart table td:nth-child(2), #modal_optional_products table td:nth-child(2) {
        border-top-style: unset;
        border-top-width: unset;
    }
    #order_total th:first-child {
        width: 50%;
    }
    a.js_remove_cart_json {
        float: right;
    }
}

.js_sale {
    padding-bottom: 32px;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    #image_nav > li {
        width: 24.7% !important;
    }

    #image_big img {
        border: 1px solid #eee;
        margin: 0px 20px 0px 15px;
    }

    .dn_product_image_div {
        min-height: 185px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #image_nav > li {
        width: 24.6% !important;
    }

    #image_nav a {
        padding: 10px 0px;
    }

    #image_big img {
        border: 1px solid #eee;
        margin: 0px 18px 0px 15px;
    }

    .dn_product_image_div {
        min-height: 260px;
    }
}

@media (max-width: 768px) {
    .list_product_name {
        text-align: center;
    }

    input[type="checkbox"] {
        margin-left: -25px !important;
        transform: scale(1.5, 1.5);
    }

    .modal-body h5 {
        font-size: 14px;
    }

    #image_nav > li {
        width: 49.5% !important;
    }

    #image_nav a {
        padding: 10px 0px;
    }

    .dn_product_image_div {
        min-height: 260px;
    }

    .oe_website_spinner {
        min-width: 156px;
        text-align: right;
    }
}
