/*=============================================================
                    Webshop Dermanord
 ============================================================ */

.no_padding_div {
    padding: 0px !important;
}

.no_padding_div .tab-pane {
    padding-left: 15px;
}

.nav-stacked a {
    padding: 10px 16px !important;
    font-size: 18px !important;
    line-height: 1.33 !important;
    border-radius: 6px !important;
}

.blog_block {
    padding: 15px;
}

.image_block {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-top: 75%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.image_block_wide {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.image_block_text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    text-decoration: none !important;
    display: none;
}

.image_block h3, .image_block h4, .image_block_wide h3, .image_block_wide h4{
    color: #fff;
}

.image_block:hover .image_block_text, .image_block_wide:hover .image_block_text {
    display: flex;
    justify-content: center;
    align-items: center;
}

