//------------------------------------------------------------------------------
// Colors
//------------------------------------------------------------------------------

$o-color-palettes: (
    (   // Palette 1
        'o-color-1': #ffffff,
        'o-color-2': #e0e0e0,
        'o-color-3': #7f9b9d,
        'o-color-4': #596f70,
        'o-color-5': #000000,

        'o-cc1-bg': 'o-color-1',
        'o-cc1-headings': 'o-color-5',
        'o-cc1-text': 'o-color-5',
        'o-cc1-link': 'o-color-3',
        'o-cc1-btn-primary': 'o-color-2',
        'o-cc1-btn-secondary': 'o-color-5',

        'o-cc2-bg': 'o-color-1',
        'o-cc2-headings': 'o-color-3',
        'o-cc2-text': 'o-color-5',
        'o-cc2-link': 'o-color-4',
        'o-cc2-btn-primary': 'o-color-3',
        'o-cc2-btn-secondary': 'o-color-4',

        'o-cc3-bg': 'o-color-2',
        'o-cc3-headings': 'o-color-5',
        'o-cc3-text': 'o-color-5',
        'o-cc3-link': 'o-color-4',
        'o-cc3-btn-primary': 'o-color-1',
        'o-cc3-btn-secondary': 'o-color-3',

        'o-cc4-bg': 'o-color-2',
        'o-cc4-headings': 'o-color-3',
        'o-cc4-text': 'o-color-3',
        'o-cc4-link': 'o-color-4',
        'o-cc4-btn-primary': 'o-color-4',
        'o-cc4-btn-secondary': 'o-color-5',
        
        'o-cc5-bg': 'o-color-5',
        'o-cc5-headings': 'o-color-2',
        'o-cc5-text': 'o-color-2',
        'o-cc5-link': 'o-color-3',
        'o-cc5-btn-primary': 'o-color-3',
        'o-cc5-btn-secondary': 'o-color-1',

//        'header': 1,
//        'footer': 3,
//        'copyright': 'black-15',
    ),
);

//------------------------------------------------------------------------------
// Fonts
//------------------------------------------------------------------------------

$o-theme-h1-font-size-multiplier: (39 / 18);
$o-theme-h2-font-size-multiplier: (23 / 18);
$o-theme-h3-font-size-multiplier: (30 / 18);
$o-theme-h4-font-size-multiplier: (18 / 18);
$o-theme-h5-font-size-multiplier: (34 / 18);
//$o-theme-h6-font-size-multiplier: (60 / 18);
$o-theme-h6-font-size-multiplier: (20 / 18);

$o-theme-font-configs: (
    'Lato': (
        'family': ('Lato', serif),
        'url': 'Lato:400,400i,600,600i,800,800i',
    ),
    'Futura PT Light': (
        'family': ('futura-pt-light', serif),
    ),
    'Futura PT Medium': (
        'family': ('futura-pt-medium', serif),
    ),
);


//------------------------------------------------------------------------------
// Website customizations
//------------------------------------------------------------------------------

$o-website-values-palettes: (
    (
        'font': 'Futura PT Light',
        'headings-font': 'Futura PT Medium',
        'navbar-font': 'Lato',
        'buttons-font': 'Futura PT Light',

        'font-size-base': (18 / 16) * 1rem,

        'hamburger-type': 'off-canvas',
        'menu-box-shadow': false,

        'btn-primary-outline': false,
        'btn-secondary-outline': false,
        'btn-ripple': true,
        'btn-font-size': (14 / 16) * 1rem,
        'btn-border-radius': 2px,

        'btn-font-size-lg': (12 / 16) * 1rem,
        'btn-padding-y-lg': 1rem,
        'btn-padding-x-lg': 3.3rem,
    ),
);
