/*=============================================================
                    Sale Promotions
 ============================================================ */
/*
.sale_promotions .carousel {
    padding-bottom: 40px;
}

.sale_promotions_indicators {
    margin-bottom: -15px;
}
*/

.sp_div .col-md-4,
.sp_div .col-md-6,
.sp_div .col-md-8,
.sp_div .col-md-12,
.sp_div .col-xs-6,
.sp_div .col-xs-12 {
    padding: 0px;
}

.sale_promotions_img {
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.sp_div .col-lg-4.col-md-4.col-sm-4 {
    width: 363px;
}

.sp_div .col-lg-8.col-md-8.col-sm-8 {
    width: 777px;
}

.sp_one_two, .sp_one_one {
    width: 366px;
}

.sp_div .col-lg-8.col-md-8.col-sm-8 .col-lg-6.col-md-6.col-sm-6 {
    padding-left: 25px;
    padding-bottom: 18px;
}

.sp_two_one {
    padding: 1px 0px 0px 25px;
}

.sp_one_two .sale_promotions_img {
    padding-top: 210%; /* 1:2.1 Aspect Ratio */
    border: 3px solid #FFF;
}

.sp_one_one .sale_promotions_img {
    padding-top: 100%; /* 1:1 Aspect Ratio */
    border: 3px solid #FFF;
}

.sp_two_one .sale_promotions_img {
    padding-top: 50%; /* 2:1 Aspect Ratio */
    border: 3px solid #FFF;
}

.sale_promotions_text {
    padding: 0px 20px;
    top: 0px;
    left: 0px;
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    margin: 10px;
}

.sale_promotions_text a {
    color: #fff !important;
}

#sp_div_mobile .item {
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}

/* xs */
@media screen and (max-width: 767px) {
    .sp_div .col-lg-4.col-md-4.col-sm-4.col-xs-6, .sp_div .col-lg-8.col-md-8.col-sm-8.col-xs-6 {
        width: 50%;
    }

    .sp_one_two, .sp_one_one {
        width: auto;
    }

    .sp_div .col-lg-8.col-md-8.col-sm-8.col-xs-6 .col-lg-6.col-md-6.col-sm-6.col-xs-12 {
        padding-left: 0px;
        padding-bottom: 15px;
    }

    .sp_one_two { padding: 0px 3px 10px 10px; }
    .sp_one_one { padding: 0px 10px 14px 10px; }
    .sp_two_one { padding: 2px 10px 0px 10px; }
}

/* sm */
@media screen and (max-width: 991px) and (min-width: 768px) {
    .sp_div .col-lg-4.col-md-4.col-sm-4.col-xs-6 {
        width: 232px;
    }

    .sp_div .col-lg-8.col-md-8.col-sm-8.col-xs-6 {
        width: 488px;
    }

    .sp_one_two, .sp_one_one {
        width: 238px;
    }

    .sp_div .col-lg-8.col-md-8.col-sm-8.col-xs-6 .col-lg-6.col-md-6.col-sm-6.col-xs-12 {
        padding-left: 10px;
        padding-bottom: 19px;
    }

    .sp_div .col-lg-8.col-md-8.col-sm-8.col-xs-6 .col-lg-12.col-md-12.col-sm-12.hidden-xs {
        width: 491px;
    }

    .sp_one_two { padding: 0px; }
    .sp_one_one { padding: 0px 0px 15px 15px; }
    .sp_two_one { padding: 0px 0px 0px 25px; }
}

/* md */
@media screen and (max-width: 1199px) and (min-width: 990px) {
    .sp_div .col-lg-4.col-md-4.col-sm-4.col-xs-6 {
        width: 294px;
    }

    .sp_div .col-lg-8.col-md-8.col-sm-8.col-xs-6 {
        width: 646px;
    }

    .sp_one_two, .sp_one_one {
        width: 300px;
    }

    .sp_div .col-lg-8.col-md-8.col-sm-8.col-xs-6 .col-lg-6.col-md-6.col-sm-6.col-xs-12 {
        padding-left: 25px;
        padding-bottom: 11px;
    }
}
