@font-face {
    font-family: futura-pt-light;
    src:local('futura-pt-light'),
        url('/theme_maria_akerberg/static/src/font/FuturaPT-Light.eot'),
        url('/theme_maria_akerberg/static/src/font/FuturaPT-Light.eot?#iefix') format('embedded-opentype'),
        url('/theme_maria_akerberg/static/src/font/FuturaPT-Light.woff') format('woff'),
        url('/theme_maria_akerberg/static/src/font/FuturaPT-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: futura-pt-medium;
    src:local('futura-pt-medium'),
        url('/theme_maria_akerberg/static/src/font/FuturaPT-Medium.eot'),
        url('/theme_maria_akerberg/static/src/font/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
        url('/theme_maria_akerberg/static/src/font/FuturaPT-Medium.woff') format('woff'),
        url('/theme_maria_akerberg/static/src/font/FuturaPT-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: futura-pt-heavy;
    src:local('futura-pt-heavy'),
        url('/theme_maria_akerberg/static/src/font/FuturaPT-Heavy.eot'),
        url('/theme_maria_akerberg/static/src/font/FuturaPT-Heavy.eot?#iefix') format('embedded-opentype'),
        url('/theme_maria_akerberg/static/src/font/FuturaPT-Heavy.woff') format('woff'),
        url('/theme_maria_akerberg/static/src/font/FuturaPT-Heavy.ttf') format('truetype');
    
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: futura-pt-demi;
    src:local('futura-pt-demi'),
        url('/theme_maria_akerberg/static/src/font/FuturaPT-Demi.eot'),
        url('/theme_maria_akerberg/static/src/font/FuturaPT-Demi.eot?#iefix') format('embedded-opentype'),
        url('/theme_maria_akerberg/static/src/font/FuturaPT-Demi.woff') format('woff'),
        url('/theme_maria_akerberg/static/src/font/FuturaPT-Demi.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: kepler-std-display;
    src:local('kepler-std-display'),
        url('/theme_maria_akerberg/static/src/font/Kepler-Std-Italic-Display_26118.ttf') format('truetype'),
        url('/theme_maria_akerberg/static/src/font/KeplerStd-Italic.eot'),
        url('/theme_maria_akerberg/static/src/font/KeplerStd-Italic.eot?#iefix') format('embedded-opentype'),
        url('/theme_maria_akerberg/static/src/font/KeplerStd-Italic.woff') format('woff'),
        url('/theme_maria_akerberg/static/src/font/KeplerStd-Italic.ttf') format('truetype');
}
