//------------------------------------------------------------------------------
// Colors
//------------------------------------------------------------------------------

$o-color-palettes: (
    (   // Palette 1
        'o-color-1': #7F9B9D,
        'o-color-2': #000000,
        'o-color-3': #E0E0E0,
        'o-color-4': #FFFFFF,
        'o-color-5': #596F70,

        'o-cc1-bg': 'o-color-4',
        'o-cc1-headings': 'o-color-2',
        'o-cc1-text': 'o-color-2',
        'o-cc1-link': 'o-color-5',
        'o-cc1-btn-primary': 'o-color-1',
        'o-cc1-btn-secondary': 'o-color-2',

        'o-cc2-bg': 'o-color-1',
        'o-cc2-headings': 'o-color-3',
        'o-cc2-text': 'o-color-5',
        'o-cc2-link': 'o-color-4',
        'o-cc2-btn-primary': 'o-color-3',
        'o-cc2-btn-secondary': 'o-color-4',

        'o-cc3-bg': 'o-color-2',
        'o-cc3-headings': 'o-color-5',
        'o-cc3-text': 'o-color-5',
        'o-cc3-link': 'o-color-4',
        'o-cc3-btn-primary': 'o-color-1',
        'o-cc3-btn-secondary': 'o-color-3',

        'o-cc4-bg': 'o-color-2',
        'o-cc4-headings': 'o-color-3',
        'o-cc4-text': 'o-color-3',
        'o-cc4-link': 'o-color-4',
        'o-cc4-btn-primary': 'o-color-4',
        'o-cc4-btn-secondary': 'o-color-5',
        
        'o-cc5-bg': 'o-color-5',
        'o-cc5-headings': 'o-color-2',
        'o-cc5-text': 'o-color-2',
        'o-cc5-link': 'o-color-3',
        'o-cc5-btn-primary': 'o-color-3',
        'o-cc5-btn-secondary': 'o-color-1',

//        'header': 1,
//        'footer': 3,
//        'copyright': 'black-15',
    ),
);

//------------------------------------------------------------------------------
// Fonts
//------------------------------------------------------------------------------

$o-theme-h1-font-size-multiplier: (39 / 18);
$o-theme-h2-font-size-multiplier: (23 / 18);
$o-theme-h3-font-size-multiplier: (30 / 18);
$o-theme-h4-font-size-multiplier: (18 / 18);
$o-theme-h5-font-size-multiplier: (34 / 18);
$o-theme-h6-font-size-multiplier: (20 / 18);

$o-theme-font-configs: (
    'Roboto': (
        'family': ('Roboto', sans-serif),
        'url': 'Roboto:300,300i,400,400i,700,700i',
    ),
    'Open Sans': (
        'family': ('Open Sans', sans-serif),
        'url': 'Open+Sans:300,300i,400,400i,700,700i',
    ),
    'Source Sans Pro': (
        'family': ('Source Sans Pro', sans-serif),
        'url': 'Source+Sans+Pro:300,300i,400,400i,700,700i',
    ),
    'Raleway': (
        'family': ('Raleway', sans-serif),
        'url': 'Raleway:300,300i,400,400i,700,700i',
    ),
    'Noto Serif': (
        'family': ('Noto Serif', serif),
        'url': 'Noto+Serif:300,300i,400,400i,700,700i',
    ),
    'Arvo': (
        'family': ('Arvo', Times, serif),
        'url': 'Arvo:300,300i,400,400i,700,700i',
    ),
    'Futura PT Light': (
        'family': ('futura-pt-light', sans-serif),
    ),
    'Futura PT Medium': (
        'family': ('futura-pt-medium', sans-serif),
    ),
    'Futura PT Heavy': (
        'family': ('futura-pt-heavy', sans-serif),
    ),
    'Futura PT Demi': (
        'family': ('futura-pt-demi', sans-serif),
    ),
    'KeplerStd-Italic': (
        'family': ('kepler-std-display', serif),
    ),
);


//------------------------------------------------------------------------------
// Website customizations
//------------------------------------------------------------------------------

$o-website-values-palettes: (
    (
        'font': 'Futura PT Light',
        'headings-font': 'Futura PT Medium',
        'navbar-font': 'Lato',
        'buttons-font': 'Futura PT Light',

        'font-size-base': (18 / 16) * 1rem,

    ),
);