#product_detail #attrs-radio {
    margin-left: 0.1rem !important;
    display: flex;
    flex-wrap: wrap;

    input[type="radio"] {
        opacity: 0;
        position: fixed;
        width: 0;
        display: none;
    }

    label {
        display: inline-block;
        padding: 0.5rem 1rem;
        cursor: pointer;
        font-size: 0.80rem;

        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;
        &:hover {
            background-color: var(--o-color-1);
            color: var(--o-color-4);
            box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
        }
        &:active {
            background-color: darken($color: #7F9B9D, $amount: 10%);
        }
        &:not(.col-form-label.active) {
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
        }
    }

    label.col-form-label.active {
        background-color: var(--o-color-1);
        color: var(--o-color-4);
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    }

    label.col-form-label.active input[type="radio"] ~ div.radio_input_value {
        font-weight: bolder;
    }

    input[type="radio"]:focus + label {
        border: 2px dashed #444;
    }

    li {
        cursor: pointer;
        margin-bottom: 0px;
    }
}

header {

    div#top_menu_container {
        flex-direction: row-reverse;

        a.navbar-brand {
            margin: auto;
        }
    }
}

main {
    min-height: auto !important;
}

section.alt_detail_section .js_add_cart {
    padding: 0.25rem 0.4rem;
    font-size: 1.15rem;
    float: right;
}

#price_row {
    height: 34px;
}

.variants_button {
    padding: 5px 10px;
    background-color: #ececec;
}

#products_grid div.product_price {
    margin: auto 0 !important;

}

#products_grid .te_shop_grid h6.o_wsale_products_item_title .te_2_line {
    display: flex !important;
    align-items: flex-end;
}

#nav_tabs_content_description, #nav_tabs_content_use, #nav_tabs_content_ingredients {
    white-space: pre-line;
}

#myCarousel_acce_prod {
    .title-padding {
        padding: 0.5rem 0.5rem 1rem 1rem;
       	text-transform: uppercase;
       	a {
            color: #000000;
        }
    }
    .variant-background {
        padding: 0.5rem 0.5rem 0.5rem 1rem;
        border-top: 0;
        background-color: #FFFFFF;
    }
}



/* BUtton style 12 - Clarico overwrite! */
.te_theme_button {
    position: relative;
    border: 0 !important;
    overflow: hidden;
    background: var(--o-cc1-btn-primary);
    color: var(--o-color-1);
}

.product_name, .te_product_name, .breadcrumb-item, .te_rect_name {
    text-transform: uppercase;
}

@media all and (min-width: 1280px) {
    #top_menu_container .te_login_right {
        display: none;
    }

    .o_carousel_product_card .o_carousel_product_card_img_top {
        height: 19.5rem !important;
      }
}

@media all and (min-width: 768px) and (max-width: 1280px) {
    #top_menu_container .te_login_right {
        display: none;
    }

    .o_carousel_product_card .o_carousel_product_card_img_top {
        height: 8rem !important;
      }
}

@media all and (min-width: 480px) and (max-width: 768px) {
    .te_shop_pager.te_shop_pager_top {
        padding: 0 16px;
    }

    div.te_header_before_overlay {
        & .te_srch_icon_header, .te_header_style_3_inner {
            display: none !important;
        }
    }

    div.te_header_style_3_main div.te_header_style_3_inner_first {
        margin-top: 0 !important;
        padding: 0;
    }

    .te_header_search div.te_search_popover {
        top: 120px;
    }

    .o_carousel_product_card .o_carousel_product_card_img_top {
        height: 12rem !important;
      }
}

@media all and (max-width: 480px) {
    .te_shop_pager.te_shop_pager_top {
        padding: 0 16px;
    }

    div.te_header_before_overlay {
        & .te_srch_icon_header, .te_header_style_3_inner {
            display: none !important;
        }
    }

    div.te_header_style_3_main div.te_header_style_3_inner_first {
        margin-top: 0 !important;
        padding: 0;
    }

    .te_header_search div.te_search_popover {
        top: 120px;
    }

    .navbar-brand {
        margin-right: 0;
    }

    header .navbar-brand {
        max-width: 40%;
    }
}
