/*=============================================================
                    Ingredient Dermanord
 ============================================================ */

.ingredient_desc h6, .ingredient_desc i {
    color: #D27153;
    font-size: 0.4em;
    overflow-wrap: normal;
}

.ingredient_desc h5 {
    line-height: 1.2em;
    max-height: 12em;
    overflow: hidden;
    position: relative;
}

.ingredient_desc h5::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25%;
    height: 1em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

#ingredients_description {
    max-width: 500px;
}
