/*=============================================================
                    Press Dermanord
 ============================================================ */

/*
.img_press_row {
    display: flex;
    align-content: center;
    justify-content: flex-end;
    align-items: flex-end;
}
*/

.img_press_block {
    padding: 15px !important;
}

.img_press_img {
    width: 100%;
    max-width: 540px;
    max-height: 400px;
    position: relative;
}

.image_press_img .img_2_change {
    width: 100%;
    height: auto;
    max-width: 540px;
    max-height: 400px;
}

.img_press_img img {
    margin: auto;
}

.img_press_text {
    text-align: center;
    position: absolute;
    right: 20px;
    bottom: 15px;
    padding: 0px 15px;
    background-color: rgba(100,100,100,0.5);
}

.img_press_text a {
    color: #fff;
}

.img_press_cc img {
    max-width: 22px;
    margin: 0px 20px 2px 20px;
}

#twitter_block ul {
    padding: 0px;
}

#twitter_block li {
    list-style-type: none
}

#twitter_block, #press_ansvarig_block, #press_release_block {
    padding: 16px;
}

.a_bord {
    background-color: #eee;
}

/*
.a_bord {
    padding: 0px !important;
    border: 1px solid #f00;
}

.b_bord {
    border: 1px solid #000;
}

.c_bord {
    border: 1px solid #00f;
}
*/
