/*=============================================================
                    Website Blog Dermanord
 ============================================================ */

/* override background-image */
.cover.js_fullheight {
    min-height: 450px !important;
    background-size: contain;
}

.bpp_block {
    padding: 20px 0px !important;
    border: 1px solid transparent;
}

.bpp_block:hover {
    border: 1px solid #CB683F !important;
}

.bpp_block a {
    color: #000;
}

.bpp_block > .container > .text-muted > a {
    color: #777 !important;
}

.bpp_img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: auto;
}

.bpp_desc_div {
    padding: 10px !important;
    bottom: 0px;
    left: 0px;
    background: rgba(255, 255, 255, 0.7);
    text-overflow: ellipsis;
}

.bpp_block h4 {
    height: 2em;
    padding: 15px 0px;
    line-height: 1.5em;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    color: #000 !important;
}

.bpp_block h4::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10%;
    height: 1.1em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

.bpr_desc_div h4, .bpr_desc_div h5 {
    color: #000 !important;
}

.bpr_desc_div {
    padding: 10px !important;
    bottom: 0px;
    left: 0px;
    background: rgba(255, 255, 255, 0.7);
    text-overflow: ellipsis;
}

.blog_background_image_list {
    height: 300px;
    background-repeat: no-repeat;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

.dn_blog_post_image_hover_btn {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dn_blog_post_image_hover_btn p {
    display: none;
}

.dn_blog_post_image_hover_btn:hover > p {
    display: unset;
}

@media (max-width: 1050px) {
    .cover.js_fullheight {
        min-height: 100% !important;
        background-size: cover;
        padding-top: 32.14%;
    }
}

/*
.bpp_block .bpp_desc {
    height: 4.3em;
    margin-bottom: 30px;
    line-height: 1.5em;
    overflow: hidden;
    position: relative;
}

.bpp_block .bpp_desc::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10%;
    height: 1.1em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}
*/
